html{
	cursor: text;
}

body{
	background-color: #3D3D3D;
	font-size: 17px;
	font-family: Consolas, Courier, monospace;
	margin:20px;
	/*font-weight:bold;*/
}

/* in IE, a stupid clear button is displayed */
input::-ms-clear{
	display: none;
}

p{
	margin:0px;
	line-height:24px;
}
#inputbox{
	outline: none;
	border: none;
	margin: 0px;
	font-size: 17px;
	font-family: Consolas, Courier, monospace;
	/*font-weight:bold;*/
}
.colorDefault{
	color:#EEEEEC;
	background-color:#3D3D3D;
}
a:link{
	color:skyblue;
}
a:visited{
	color:skyblue;
}
.color30{
	color:#555753;
}
.color31{
	color:#EF2929;
}
.color32{
	color:#8AE234;
}
.color33{
	color:#FCE94F;
}
.color34{
	color:#729FCF;
}
.color35{
	color:#AD7FA8;
}
.color36{
	color:#34E2E2;
}
.color37{
	color:#EEEEEC;
}
.color40{
	background-color:#000000;
}
.color41{
	background-color:#CC0000;
}
.color42{
	background-color:#4E9A06;
}
.color43{
	background-color:#C4A000;
}
.color44{
	background-color:#3465A4;
}
.color45{
	background-color:#75507B;
}
.color46{
	background-color:#000000;
}
.color47{
	background-color:#EEEB82;
}
