body{
	background-color: #3D3D3D;
	font-size: 17px;
	font-family: Consolas, Courier, monospace;
	margin:20px;
	font-weight:bold;
}

/* in IE, a stupid clear button is displayed */
input::-ms-clear{
	display: none;
}

p{
	margin:0px;
	line-height:28px;
}
#inputbox{
	outline: none;
	border: none;
	font-size: 17px;
	font-family: Consolas, Courier, monospace;
	font-weight:bold;
}
.color30{
	color:#3D3D3D;
}
.color31{
	color:#D74D52;
}
.color34{
	color:#71CFEE;
}
.color37{
	color:#EEEB82;
}
.color40{
	background-color:#3D3D3D;
}
.color47{
	background-color:#EEEB82;
}