*{
	box-sizing:border-box;
}

.x-codeeditor{
	position: relative;
	/*white-space: pre;*/
	font-family: monospace;
	outline:none;
	/*font-size:20px;*/
	overflow-y:auto;
	overflow-x:hidden;
	background: #272822;

	font-size: 14px;
}
.x-ce-rulerlines, .x-ce-panel{
	position: absolute;
	top:0px;
	height:100%;
	padding-top: 5px;
}
.x-ce-rulerlines{
	left:0px;
	width:60px;

	color: #8f907a;

	-webkit-user-select: none;
}
.x-ce-panel{
	left: 60px;
	width:calc(100% - 60px);

	outline: none;

	color:white;
}
.x-ce-rulerline, .x-ce-codeline{
	min-height: 20px;
	line-height: 20px;
}
.x-ce-codeline{
	white-space: pre;
}

.x-ce-rulerline{
	width:60px;
	text-align: right;
	padding-right: 20px;
}

.x-ce-panel ::selection{
	background: rgba(73,72,62,0.99);
}
